{% extends '@MiguelAlcainoMindbodyPayments/Admin/base.html.twig' %}

{% block content %}
    <h1>Lista de planes</h1>
    <div class="row pb-2">
        <div class="col-md-12">
            <a href="{{ path('admin_product_synchronize') }}" id="synchronize-products-btn" class="btn btn-primary">Actualizar
                cache <i style="display: none;" class="fa fa-cog fa-spin fa-fw"></i></a>
        </div>
    </div>
    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Link de compra</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% include '@MiguelAlcainoMindbodyPayments/product/listProducts.html.twig' with {
            products: products
        } %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#synchronize-products-btn').click(function () {
            $(this).find('i.fa-cog').show();
            $(this).addClass('disabled');
        });
    </script>

{% endblock %}
