<div class="paginator-container">
    {% if paginator is defined %}
        {% include '@MiguelAlcainoMindbodyPayments/Admin/paginator.html.twig' with {
            paginator : paginator
        } %}
    {% else %}
        <nav class="paginator"></nav>
    {% endif %}
</div>