{% extends '@MiguelAlcainoMindbodyPayments/Admin/base.html.twig' %}

{% block content %}
    <h2>General</h2>
    <a href="{{ path('admin_settings_reset_cache') }}" class="btn btn-primary">Reload cache</a>
    <h2>Programs</h2>
    <a href="{{ path('program_sync_programs') }}" class="btn btn-primary">Reload Programs</a>
{% endblock %}