{% extends '@MiguelAlcainoMindbodyPayments/base/base.html.twig' %}

{% block body %}
    {% if errorMessage is defined and errorMessage is not same as(null) %}
        <div class="alert alert-danger">{{ errorMessage }}</div>
    {% endif %}
    <div class="form-group row">
        <label for="location-select" class="col-sm-2 col-form-label share-tech-mono-font">Compras clases en </label>
        <div class="col-sm-10">
            <select id="location-select"
                    class="form-control share-tech-mono-font location-selector">
                <option value="null">Selecciona tu ciudad</option>
                <option value="bogota">Bogot&aacute;</option>
                <option value="medellin">Medell&iacute;n</option>
            </select>
        </div>
    </div>
    <div class="service-wrapper">
        <div class="spinner-wrapper" style="text-align: center;display: none;"><i
                    class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
        <div class="packages-wrapper"></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('select').change(function () {
            var $selector = $(this);
            $('.spinner-wrapper').show();
            $.ajax({
                url: '{{ path('default_services_for_location_ajax') }}',
                type: 'GET',
                data: {
                    locationName: $selector.val()
                },
                success: function (data) {
                    $('.packages-wrapper').children().remove();
                    $('.packages-wrapper').append(data.view);
                }
            }).always(function () {
                $('.spinner-wrapper').hide();
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Small screens */
        @media screen and (max-width: 767px) {
            .location-selector {
                height: inherit !important;
                font-size: 100%;
            }
        }

        /* Big screens */
        @media screen and (min-width: 768px) {
            .location-selector {
                height: inherit !important;
                font-size: 2rem;
            }
        }

    </style>
{% endblock %}