<h1 class="share-tech-mono-font">Elige tu paquete</h1>
{% for service in services %}
    {% if loop.index0 % 3 == 0 or loop.first %}
        {% set counter = 0 %}
        <div class="row">
    {% endif %}
    {% set counter = counter + 1 %}
    <div class="col-md-4 col-xs-12 mt-md-3 mt-3">
        <div class="card text-center">
            <h4 class="card-header">{{ service.name }}</h4>
            <div class="card-body">
                <p style="font-size: 30px;font-weight: 500;" class="card-text">
                    ${{ service.price|number_format(0,'.') }}</p>
                <a class="btn btn-primary"
                   href="{{ path('mindbody_customer_login', {'service': service.id}) }}">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    Comprar
                </a>
            </div>
        </div>
    </div>
    {% if counter == 3 or loop.last %}
        </div>
    {% endif %}
{% endfor %}